<!-- -*- mode: XML -*- -->
<launch>
  <arg name="racecar_version" default="$(optenv RACECAR_VERSION racecar-v2)" doc="system version [racecar-v1, racecar-v2]" />
  <arg name="imu_model" default="$(optenv RACECAR_IMU razor_imu_m0)" doc="imu sensor types [razor_imu, razor_imu_m0]" />
  <arg name="run_camera" default="false"/>

  <include file="$(find racecar)/launch/includes/$(arg racecar_version)-teleop.launch.xml">
    <arg name="imu_model" value="$(arg imu_model)" />
    <arg name="run_camera" value="$(arg run_camera)" />
  </include>

  <node name="sim_connector" pkg="racecar" type="sim_connector.py" output="screen" />
 <!-- <node name="levine_demo" pkg="racecar" type="levineDemo.py" output="screen" />-->
 <!-- <node name="control" pkg="racecar" type="control.py" output="screen" />-->
<!--  <node name="Angle_NN" pkg="racecar" type="keyboard.py" output="screen" />
  <include file="$(find zed_wrapper)/launch/zed_camera.launch"/>
  <include file="$(find racecar)/launch/robot_pose_ekf.launch"/>-->

</launch>
