<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="racecar" />
  <!--define the names here so that when we generalize it will be easier-->
  <arg name="racecar_1_name" default='racecar'/>
  <arg name="racecar_1_color" default='red'/>
  <arg name="racecar_2_name" default='racecar2'/>

  <arg name="gui" default="true" />
  <arg name="run_camera" default="false"/>

  <!--launch the world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racecar_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  
  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find racecar_description)/urdf/racecar2.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo 
    The -x -y -z control where the car is placed in the world
    -model is the name of the robot 
  
  -->
  
  <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar2 -x -1.75 -y 0.05 -z 0.05" />
  
  <!-- Transforms This will end up being easier-->

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0.05 0 0 0 base_link2 racecar2/chassis 100" />
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0.265 0.0 0.075 0 0 0 racecar2/chassis racecar2/laser 100" />
  <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0.1 0 0.035 0 0 0 racecar2/chassis racecar2/imu_joint 100" />
  <node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="0.390 0 0.04 0 0 0 racecar2/chassis racecar2/camera 100" />

  



  <!-- ros_control racecar launch file -->
  <include file="$(find racecar_control)/launch/racecar_control2.launch" ns="/"/>
  
  



  <!-- Spawn the MUXs-->
  <arg name="racecar_version" default="racecar-v2" />
  <include file="$(find racecar)/launch/mux2.launch" ns="vesc2" />

  <!-- Publish "better odom" topic that is normally generated by the particle filter 
    <node name="better_odom" pkg="topic_tools" type="relay"
          args="/vesc/odom /pf/pose/odom" />-->


  <!--First Car Stuff-->
  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description1" command="$(find xacro)/xacro '$(find racecar_description)/urdf/racecar.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="racecar_spawn1" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description1 -model racecar -z 0.05" />

  <!-- ros_control racecar launch file -->
  <include file="$(find racecar_control)/launch/racecar_control.launch" ns="/"/>

  <!-- Spawn the MUXs -->
  <!--<arg name="racecar_version" default="racecar-v2" /> This isn't used so it basically useless rn-->
  <include file="$(find racecar)/launch/mux.launch" ns="vesc" />




    
</launch>
